<div class="login-outer-most-div">


<app-navbar></app-navbar>


<section class="full-height-hero">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Your Ultimate  <br />
            Web-Based Ledger Solution
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Cash Rabbit is your comprehensive web-based ledger application,
            designed to empower retailers in efficiently managing all cash
            inflows and outflows from their valued customers. With its cutting-edge
            analytics dashboards and user-friendly interface, Cash Rabbit revolutionizes the way you handle financial transactions.
          </p>

          <button class="purple-button" routerLink="/login">Get Started</button>
        </div>

        <div class="col-lg-5 mb-5 mb-lg-0">
            <img src="/assets/cash-rabbit.png" class="hero-image" alt="">
          <!-- <div class="card">
            <div class="card-body py-5 px-md-5">
             
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

</div>
<!-- Section: Design Block -->
