################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/.vs/server/FileContentIndex
/server/server/bin/Debug/net6.0
/server/server/obj/Debug/net6.0
