<div *ngIf="name != null">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row mt-5" *ngIf="name != null">
      <h5>Hi {{ name }}!</h5>

      <hr />
      <div>
        <div class="row">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                    >
                      To Give (RS)
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ totalToGive }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-success text-uppercase mb-1"
                    >
                      To Take (RS)
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ totalToTake }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div>
            <app-add-customer
              (refreshList)="handleRefreshList()"
            ></app-add-customer>
            <app-add-transaction
              [customers]="customers"
              (refreshList)="handleRefreshList()"
            ></app-add-transaction>
            <button class="purple-button" (click)="HandleGraphicalView()">
              Graphical view
            </button>
            <!-- <button (click)="testToast()">test toast</button> -->
          </div>

          <div>
            <div class="row mt-5">
              <table
                class="table align-middle mb-0 bg-white"
                *ngIf="showGraphicalView == 0"
              >
                <thead class="bg-light">
                  <tr>
                    <th>Name</th>
                    <th>To Take</th>
                    <th>To Give</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of summary">
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="">
                          <p class="fw-bold mb-1">{{ item.customerName }}</p>
                          <p class="text-muted mb-0">
                            {{ item.customerEmail }}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{ item.toTake }}</p>
                    </td>
                    <td>{{ item.toGive }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-link btn-sm btn-rounded"
                        (click)="view(item.customerId)"
                      >
                        View
                      </button>
                    </td>
                    <td>
                      <app-update-customer [customer]="item" (refreshList)="handleRefreshList()"></app-update-customer>
                    </td>
                    <td>
                      <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="deleteCustomer(item.customerId)"
                    >
                      Delete
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="showGraphicalView == 1">
                <ngx-charts-bar-vertical-2d
                  [view]="[1000, 400]"
                  [results]="dataset"
                  [xAxisLabel]="'x-axis'"
                  [legendTitle]="'legend'"
                  [yAxisLabel]="'y-axis'"
                  [legend]="true"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [gradient]="true"
                >
                </ngx-charts-bar-vertical-2d>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
