<div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark background-color">
      <a class="navbar-brand p-3" href="#">Cashbook</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-5 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="registerForm">
          <div
            class="d-flex m-auto flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="lead fw-normal mb-0 me-3">Sign up with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <fa-icon [icon]="facebookIcon"></fa-icon>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <fa-icon [icon]="twitterIcon"></fa-icon>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <fa-icon [icon]="linkedinIcon"></fa-icon>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <h4 class="text-center fw-bold mx-3 mb-0">Or</h4>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Username</label>
            <input
              type="text"
              id="form3Example3"
              class="form-control form-control-lg"
              formControlName="username"
              placeholder="Enter a valid username"
            />
            <div
              *ngIf="
                registerForm.controls['username'].invalid &&
                (registerForm.controls['username'].dirty ||
                  registerForm.controls['username'].touched)
              "
              class="text-danger"
            >
              Username is required
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input
              type="password"
              id="form3Example4"
              formControlName="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
            <div
              *ngIf="
                registerForm.controls['password'].invalid &&
                (registerForm.controls['password'].dirty ||
                  registerForm.controls['password'].touched)
              "
              class="text-danger"
            >
              Password is required
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="register()"
              [disabled]="registerForm.invalid"
            >
              Login
            </button>
            <p class="mt-4 pt-1 mb-0">
              Don't have an account?
              <a href="#!" routerLink="/register" class="text-danger"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
