<ngx-spinner bdColor="rgba(255, 255, 255, 0.6)" size="medium" color="#1d8a5e" type="ball-spin-clockwise" [fullScreen]="true"></ngx-spinner>
<button class="btn-styling-none" (click)="open(mymodal)"><fa-icon [icon]="faEdit"></fa-icon></button>

<ng-template #mymodal let-modal>
  <form [formGroup]="updateCustomerForm" class="themed-modal-form">
    <div class="modal-header themed-modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Customer</h4>
      <button type="button" class="modal-cross-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <div class="mb-3">
              <label class="form-label auth-label">Name</label>
              <div class="input-with-icon">
                <fa-icon [icon]="userIcon" class="field-icon"></fa-icon>
                <input
                  type="text"
                  id="form3Example4"
                  formControlName="name"
                  class="form-control form-control-lg input-field"
                  placeholder="Name"
                />
              </div>
              <div
                *ngIf="
                  updateCustomerForm.controls['name'].invalid &&
                  (updateCustomerForm.controls['name'].dirty ||
                    updateCustomerForm.controls['name'].touched)
                "
                class="text-danger small mt-1"
              >
                Name is required
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label auth-label">Phone No</label>
              <div class="input-with-icon">
                <fa-icon [icon]="phoneIcon" class="field-icon"></fa-icon>
                <input
                  type="text"
                  id="form3Example4"
                  formControlName="phoneno"
                  class="form-control form-control-lg input-field"
                  placeholder="Phone No"
                />
              </div>
              <div
                *ngIf="
                  updateCustomerForm.controls['phoneno'].invalid &&
                  (updateCustomerForm.controls['phoneno'].dirty ||
                    updateCustomerForm.controls['phoneno'].touched)
                "
                class="text-danger small mt-1"
              >
                Phone no is required
              </div>
            </div>

            <div class="mb-2">
              <label class="form-label auth-label">Email</label>
              <div class="input-with-icon">
                <fa-icon [icon]="emailIcon" class="field-icon"></fa-icon>
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control form-control-lg input-field"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>
              <div
                *ngIf="
                  updateCustomerForm.controls['email'].invalid &&
                  (updateCustomerForm.controls['email'].dirty ||
                    updateCustomerForm.controls['email'].touched)
                "
                class="text-danger small mt-1"
              >
                Email is required
              </div>
            </div>

    </div>
    <div class="modal-footer themed-modal-footer">
      <button
        type="submit"
        class="green-button"
        style="padding-left: 2.5rem; padding-right: 2.5rem"
        (click)="updateCustomer(updateCustomerForm.value)"
        [disabled]="updateCustomerForm.invalid"
      >
        Update
      </button>
    </div>
  </form>
  </ng-template>
