<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="la-ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<div class="login-outer-most-div">
<app-navbar></app-navbar>
<section class="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card login-card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form class="mb-md-1 mt-md-4 pb-4" [formGroup]="loginForm">
              <h2 class="fw-bold mb-5 text-uppercase">Login</h2>
              <div class="form-outline form-white mb-4">
                <!-- <label class="form-label" for="typeEmailX">Email</label> -->
                <input type="text" id="typeEmailX" placeholder="Username" formControlName="username" class="form-control form-control-lg input-field" />
                <div
                    *ngIf="
                      loginForm.controls['username'].invalid &&
                      (loginForm.controls['username'].dirty ||
                        loginForm.controls['username'].touched)
                    "
                    class="text-danger"
                  >
                    Username is required
                  </div>
              </div>

              <div class="form-outline form-white mb-4">
                <!-- <label class="form-label" for="typePasswordX">Password</label> -->
                <input type="password" id="typePasswordX" placeholder="Password" formControlName="password" class="form-control form-control-lg input-field" />
                <div
                    *ngIf="
                      loginForm.controls['password'].invalid &&
                      (loginForm.controls['password'].dirty ||
                        loginForm.controls['password'].touched)
                    "
                    class="text-danger"
                  >
                    Password is required
                  </div>
              </div>

         
              <button class="btn login-btn" type="submit" (click)="login(loginForm.value)"[disabled]="loginForm.invalid">
                Login</button>
                
            </form>

            <div>
              <p class="mb-0">Don't have an account? <a href="/register" class="text-primary"  routerLink="/register" >Register</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>



