<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="la-ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<button class="add-transaction-btn" (click)="open(mymodal)">Add Customer</button>

<ng-template #mymodal let-modal>
  <form [formGroup]="addCustomerForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Customer</h4>
      <button type="button" class="modal-cross-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
           
            <!-- Email input -->
  
            <div class="form-outline mb-3">
              <!-- <label class="form-label" for="form3Example4">Password</label> -->
              <input
                type="text"
                id="form3Example4"
                formControlName="name"
                class="form-control form-control-lg input-field"
                placeholder="Name"
              />
              <div
                *ngIf="
                  addCustomerForm.controls['name'].invalid &&
                  (addCustomerForm.controls['name'].dirty ||
                    addCustomerForm.controls['name'].touched)
                "
                class="text-danger"
              >
                Name is required
              </div>
            </div>
  
            <div class="form-outline mb-3">
              <!-- <label class="form-label" for="form3Example4">Password</label> -->
              <input
                type="text"
                id="form3Example4"
                formControlName="phoneno"
                class="form-control form-control-lg input-field"
                placeholder="Phone No"
              />
              <div
                *ngIf="
                  addCustomerForm.controls['phoneno'].invalid &&
                  (addCustomerForm.controls['phoneno'].dirty ||
                    addCustomerForm.controls['phoneno'].touched)
                "
                class="text-danger"
              >
                Phone no is required
              </div>
            </div>
  
            <div class="form-outline mb-4">
              <!-- <label class="form-label" for="form3Example3">Username</label> -->
              <input
                type="email"
                id="form3Example3"
                class="form-control form-control-lg input-field"
               
                formControlName="email"
                placeholder="Email"
              />
              <div
                *ngIf="
                  addCustomerForm.controls['email'].invalid &&
                  (addCustomerForm.controls['email'].dirty ||
                    addCustomerForm.controls['email'].touched)
                "
                class="text-danger"
              >
                Email is required
              </div>
            </div>
  
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button> -->
      <div class="text-center text-lg-start mt-4 pt-2">
        <button
          type="submit"
          class="green-button"
          style="padding-left: 2.5rem; padding-right: 2.5rem"
          (click)="addCustomer(addCustomerForm.value)"
          [disabled]="addCustomerForm.invalid"
        >
          Add
        </button>

      
      </div>
    </div>
  </form>
  </ng-template>